<div class="navbar bg-base-100 shadow-xl px-4 sticky top-0 z-50">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl font-bold tracking-tighter">Hugtech Studio</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 gap-2">
      <li><a href="#about" class="btn btn-ghost btn-sm">About</a></li>
      <li><a href="#projects" class="btn btn-ghost btn-sm">Projects</a></li>
      <li><a href="#contact" class="btn btn-primary btn-sm">Hire Me</a></li>
    </ul>
  </div>
</div>
